.row
    .span12
        .hero-unit
          h1 Pilot Search
          br
          p Pilot Search for Navigator

          p Type “*” to search for any result.

        if result
          if (result == "Error: connect ECONNREFUSED")
            p.alert Elasticsearch server is either not running or not configured
          else
            p= result
        else
        //  p To create initial index and sample data click
          //    a(href='/index')= ' Create Sample Index & Data! '
